{extend name="layouts:main" /}
{block name="title"}练习习题{/block}
{block name="content"}

<div class="container-fluid">
    <div class="blank"></div>
    <form action="{:url('check',['id'=>$datas['id']])}" method="get">

        <h3 class="noticeDetailTitle" style="text-align: center"><strong>简答题</strong></h3>
        <h4 class="noticeDetailTitle" style="text-align: center"><strong>第 {$datas["top_id"]} 题: {$datas["title"]}</strong></h4><br>

        <div style="text-align: center;">
            <strong>
                <b>请答题:</b>
            </strong>

            <br>

            <strong>
                <textarea rows="6" cols="25" name="answerA" placeholder="必填"></textarea>
            </strong>

            <br>

            <strong>
                <input type="submit" name="submit" value="提交" />
            </strong>
        </div>

        <br>

        <div class="col-xs-12" style="text-align: center">
            <strong>
                <h4><b>真题解析:</b></h4>
                <h4><b>{$datas['parse']}</b></h4>
            </strong>
        </div>

    </form>
</div>

{/block}