{extend name="layouts:main" /}
{block name="title"}练习习题{/block}
{block name="content"}

<style type="text/css" >

    .font-spacing{
        letter-spacing: 5px;
        line-height: 40px;
    }

    input[type="radio"]+span {
        width: 15px;
        height: 15px;
        background-color: #ddd;
    }



</style>

<div class="container-fluid">
    <div class="blank"></div>

    <div class="col-sm-12" style=" text-align: right ">
        <b><a href="{:url('sc',['id'=>$datas['id']])}">收藏</a></b>
    </div>

    <form action="{:url('check',['id'=>$datas['id']])}" method="get">
        <div class="font-spacing">
            <h3 class="noticeDetailTitle" style="text-align: center"><strong>单选题</strong></h3>
            <h4 class="noticeDetailTitle" style="text-align: center"><strong>第 {$datas["top_id"]} 题: {$datas["title"]}</strong></h4>

            <div style="text-align: center">
                <div class="col-xs-2"></div>
                <div class="col-xs-10" style="text-align: left">

                    <strong>
                        <label><input type="radio" name="true" value="0" /><span></span>A: {$datas["answerA"]}<br></label><br>
                    </strong>

                    <strong>
                        <label><input type="radio" name="true" value="1" /><span></span>B: {$datas["answerB"]}<br></label><br>
                    </strong>

                    <strong>
                        <label><input type="radio" name="true" value="2" /><span></span>C: {$datas["answerC"]}<br></label><br>
                    </strong>

                    <strong>
                        <label><input type="radio" name="true" value="3" /><span></span>D: {$datas["answerD"]}<br></label><br>
                    </strong>

                </div>

                <strong>
                    <input type="submit" name="submit" value="提交" />
                </strong>

            </div>
        </div>

        <br>

        <div class="col-xs-4" style="text-align: left">
            <strong>
                <a href="">上一题</a>
            </strong>
        </div>

        <div class="col-xs-4" style="text-align: center">
            <strong>
                <a href="{:url('parse',['id'=>$datas['id']])}">真题解析</a>
            </strong>
        </div>

        <div class="col-xs-4" style="text-align: right">
            <strong>
                <a href="{:url('next?page=$nextpage',['id'=>$datas['a_id']])}">下一题</a>
            </strong>
        </div>

    </form>
</div>

{/block}